* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: Arial, sans-serif;
}

:root {
    --VediksatBlue: #020B71;
    --VediksatGreen: #73C82C;
}


header{
    height: auto;
    background: url('../public/aavesh_blue_bg.jpg') no-repeat;
    background-size: cover;
    position: center;
    position: relative;   
}

.home__header {
    height: 100vh;
    min-height: auto;
    background: url('../public/aavesh_blue_bg.jpg') no-repeat;
    background-size: cover;
    position: center;
    overflow: hidden;
    position: relative;
}

.home__header::before {
    content: ''; 
    background: url('https://th.bing.com/th/id/R.5bf17ed5a708bc3d70fe5c758cbe9b06?rik=h2lFGuBjXuAuVQ&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f57%2f86%2fRzsgpO.jpg&ehk=VAu3caIJhQD3FcFhOC4ZAMRG4M3k2L%2bUirjludQB4dE%3d&risl=&pid=ImgRaw&r=0') no-repeat;
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: inherit;
    position: absolute; 
    z-index: 1;
     

    animation: slideShow 15s ease infinite;
    background-position: center; 
    background-size: cover;
    
    
}


@keyframes slideShow {

    33% { 
        background: url('https://th.bing.com/th/id/R.5bf17ed5a708bc3d70fe5c758cbe9b06?rik=h2lFGuBjXuAuVQ&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f57%2f86%2fRzsgpO.jpg&ehk=VAu3caIJhQD3FcFhOC4ZAMRG4M3k2L%2bUirjludQB4dE%3d&risl=&pid=ImgRaw&r=0') no-repeat;
        background-position: center; 
        background-size: cover;
    }

    33.3% {
        background: url('https://i.kinja-img.com/gawker-media/image/upload/s--L_CNoEJ_--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/18g6su9j6sf6ojpg.jpg') no-repeat;
        background-position: center; 
        background-size: cover;
    }

    66% {
        background: url('https://i.kinja-img.com/gawker-media/image/upload/s--L_CNoEJ_--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/18g6su9j6sf6ojpg.jpg') no-repeat;
        background-position: center; 
        background-size: cover;
    }

    66.6% {
        background: url('https://www.ge.com/research/sites/default/files/styles/hero_banner/public/images/capabilities/2018-12/technology-domain-electronics-hero3_0.jpg?itok=SdAI3lta') no-repeat;
        background-position: center; 
        background-size: cover;
    }

    99% {
        background: url('https://www.ge.com/research/sites/default/files/styles/hero_banner/public/images/capabilities/2018-12/technology-domain-electronics-hero3_0.jpg?itok=SdAI3lta') no-repeat;
        background-position: center; 
        background-size: cover;
    }

    99.9% { 
        background: url('https://th.bing.com/th/id/R.5bf17ed5a708bc3d70fe5c758cbe9b06?rik=h2lFGuBjXuAuVQ&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f57%2f86%2fRzsgpO.jpg&ehk=VAu3caIJhQD3FcFhOC4ZAMRG4M3k2L%2bUirjludQB4dE%3d&risl=&pid=ImgRaw&r=0') no-repeat;
        background-position: center; 
        background-size: cover;
    }
} 



.header__data__container {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
    color: black;
    line-height: 30px;
    font-size: 20px;
    animation: header_data_upp 5s ease infinite;
    z-index: 2;
}

@keyframes header_data_upp {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    30% {
        transform: translateY(0px);
        opacity: 1;
    }

    80% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(-60px);
        opacity: 0;
    }

}
 
.header__data__container h1 {
    color: white;
    font-size: 50px;
    margin: 0px 0px 20px 0px;
    line-height: 50px;
}







/* NAVBAR STARTS */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    z-index: 3;
}
 
.nav__logo__container {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.nav__logo__container img{
    width: 200px;
}

.nav__list__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.nav__list__container ul {
    display: flex;
    list-style: none;
}


.nav__list__container ul li {
    display: block;
    padding: 20px 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.103);
}

.nav__list__container ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav__list__container ul li a:hover {
    color: black ;
}




.humburger {
    position: absolute;
    right: 10px;
    top: 40px;  
    display: none;
    z-index: 1;
    padding: 9px;
    z-index: 9;
}

.humburger-line {
    height: 3px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}

.humburger-line:nth-child(2) {
    width: 20px;
}

.menu:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.menu:nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
}

.menu:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -1px);
}

/* NAVBAR ENDS */



/*For Navbar Responsiveness ***/

@media only screen and (max-width:1200px) {
    .humburger {
        display: block;
        transition: all 0.9s ease;
    }

    .humburger-menu {
        padding: 9px 9px 20px 9px;
        background-color: rgba(255, 255, 255, 0);
    }

    .nav__logo__container {
        width: 100%;
    }
    

    .nav__list__container {
        display: none;
        position: absolute;
        top: 0;
        margin-right: 250%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 50px;
        background-color: black;
        transition: all 0.9s ease;
        z-index: 8;
    }


    .nav__list__container ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav__list__container-menu {
        position: absolute;
        top: 0;
        margin-right: 0%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 50px;
        background-color: black;
        z-index: 8;
    }

    .nav__list__container-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav__list__container ul li {
        display: block;
        padding: 20px 20px;
    }

}

@media only screen and (max-width:900px) {

    .home__header::before {
        /* display: none; */
        width: 100%;
        height: 50vh;
    }

    
.header__data__container {
    top: 50vh;
    left: 0;
    height: 50vh;
    width: 100%;
    padding: 0px 50px;
    align-items: center;
    text-align: center;
}

}
